.Certificate__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    margin-bottom: var(--mb-2);
}

.Certificate__item {
    cursor: pointer;
    color: var(--title-color);
    padding: 0.25rem 0.75rem;
    font-weight: var(--font-medium);
    border-radius: 0.5rem;
    text-transform: capitalize;
}

.Certificate__item:hover{
    background-color: var(--title-color);
    color: var(--container-color);
}

.Certificate__container {
    grid-template-columns: repeat(3, max-content);
    gap: 3rem;
    justify-content: center;
}

.Certificate__card {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    border-radius: 1rem;
}

.Certificate__img {
    width: 295px;
    border-radius: 1rem;
    margin-bottom: var(--mb-1);

  
  padding: .5rem;
  border-radius: 1rem;

  /* Fake golden border using gradient */
    background-image: 
    linear-gradient(var(--container-color), var(--container-color)), 
    linear-gradient(65deg, #d4af37, #ffd700, #b8860b, #f5d142);
  background-origin: border-box;
  background-clip: content-box, border-box;

}

.Certificate__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
}

.Certificate__button {
    color: var(--text-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}

.Certificate__button-icon {
    font-size: 1rem;
    transition: 0.4s;
}

.Certificate__button:hover .Certificate__button-icon {
    transform: translateX(0.25rem);
}

/* active Certificate */

.active-Certificate {
    background-color: var(--title-color);
    color: var(--container-color);
}

@media screen and (max-width: 992px) {
    .Certificate__container {
        gap: 1.25rem;
    }

    .Certificate__card{
        padding: 1rem;
    }

    .Certificate__img{
        margin-bottom: 0.75rem;
    }
    .Certificate__title {
        margin-bottom: 0.25rem;
    }
    
}

@media screen and (max-width: 768px) {

    .Certificate__container{
        grid-template-columns: max-content;
    }
    
}

@media screen and (max-width: 576px) {

    .Certificate__container{
        grid-template-columns:1fr;
    }

    .Certificate__img{
        width: 100%;
    }
    
}
@media screen and (max-width: 350px) {

    .Certificate__item{
        font-size: var(--small-font-size);
    }

    .Certificate__filters{
        column-gap: 0.25rem;
    }
    
}